{% import 'formalism/macros' as macros %}
{% spaceless %}

{% set defaults = {
    label: 'Label',
    theme: 'outlined',
    name: '',
    value: '',
    instructions: '',
    classes: [],
    size: [5, 40],
    id: 'textarea' ~ random(5000),
    error: '',
    hasError: false,
    isDisabled: false,
    isRequired: false,
    isOptional: false,
    indicator: {
        isHidden: false,
        required: '*',
        optional: 'optional',
    },
    attributesContainer: {},
    attributesInner: {},
    attributesField: {},
    baseClass: 'f-textarea'
} %}

{% set self = craft.formalism.deepMerge(defaults, params) %}
{% set bc = self.baseClass %}
{% set hasError = self.error or self.hasError %}
{% set errorClass = hasError ? 'has-error' : '' %}
{% set filledClass = self.value ? 'is-filled' : '' %}
{% set indicator = not self.indicator.isHidden|default(false) ? macros.indicator(self.isRequired ? self.indicator.required|default('*') : null, self.isOptional ? self.indicator.optional|default('optional') : null, bc) %}

{% set attributesContainer = macros.attributes(craft.formalism.deepMerge(self.attributesContainer, {
    class: [[bc, [bc,self.theme]|join('--') ]|join(' '), self.classes|join(' '), errorClass, filledClass]|join(' ')|trim,
    'data-field-container': '',
})) %}

{% set attributesInner = macros.attributes(craft.formalism.deepMerge(self.attributesInner, {
    class: bc ~ '__inner',
    for: self.id,
    'data-field-inner': '',
})) %}

{% set instructionId = self.instructions ? self.id ~ '-instructions' : null %}

{% set attributesField = macros.attributes(craft.formalism.deepMerge(self.attributesField, {
    class: [bc ~ '__field', self.attributesField.class|default()]|join(' ')|trim,
    id: self.id,
    name: self.name,
    rows: self.size[0],
    cols: self.size[1],
    required: self.isRequired ? 'required' : null,
    disabled: self.isDisabled ? 'true' : null,
    'aria-invalid': hasError ? 'true' : null,
    'aria-describedby': instructionId,
    'data-field': '',
})) %}

<div {{ attributesContainer }}>
    <label {{ attributesInner }}>
        <textarea {{ attributesField }}>{{ self.value }}</textarea>
        {{ macros.label(self.label, bc) }}
        {{ indicator }}
    </label>
    {{ macros.messages(self.error, self.instructions, bc, instructionId) }}
</div>

{% endspaceless %}
